<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commune">
            <h2><span>Commune</span> {{ commune.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ commune.code }}</span>
                </dd>
                <dt><span>Libelle</span></dt>
                <dd>
                    <span>{{ commune.libelle }}</span>
                </dd>
                <dt><span>Arrondissement</span></dt>
                <dd>
                    <div *ngIf="commune.arrondissementId">
                        <a [routerLink]="['/arrondissement', commune.arrondissementId, 'view']">{{ commune.arrondissementId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commune', commune.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
